nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.list-rectangle {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list-rectangle>li {
    position: relative;
    display: block;
    margin-bottom: .25rem;
    padding: .325rem .825rem .325rem 1.325rem;
    color: rgb(0, 0, 0);
    background: #f6f6f6;
  }
  .list-rectangle>li:last-child {
    margin-bottom: 0;
  }
  .list-rectangle>li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background: #ec407a;
  }



  