{% extends "layout.html" %}

{% block title %}
Main
{% endblock %}

{% block main %}
<div id="clearout">
    <form id="login" action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="loguser" name="username" placeholder="Username"
                type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="logroom" name="room" placeholder="Room"
                type="text">
        </div>

        <button class="btn btn-primary" type="submit">Join</button>
    </form>
</div>


{% endblock %}